DATABASE_URL=

NEXTAUTH_SECRET=
NEXTAUTH_URL=

STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_PRICE_ID=

RESEND_API_KEY=

UPLOADTHING_TOKEN=

DOCTOR_DENTAL_EMAIL=
DOCTOR_GYNECO_EMAIL=

TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=
